<div class="container">
  <br>
  <h1>List Pipes</h1>
  <hr>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Variable</th>
        <th scope="col">Pipe</th>
        <th scope="col">Producto</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row"> {{ nombre }} </th>
        <td>uppercase</td>
        <td> {{ nombre | uppercase }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ nombre }} </th>
        <td>lowercase</td>
        <td> {{ nombre | lowercase }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ nombre }} </th>
        <td>slice:3</td>
        <td> {{ nombre | slice:3 }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ nombre }} </th>
        <td>slice:0:3</td>
        <td> {{ nombre | slice:0:3 }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ arreglo }} </th>
        <td>slice:1:5</td>
        <td> {{ arreglo | slice:1:5 }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ PI }} </th>
        <td>number:'3.0-0'</td>
        <td> {{ PI | number:'3.0-0' }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ PI }} </th>
        <td>number:'1.0-2'</td>
        <td> {{ PI | number:'1.0-2' }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ porcentaje }} </th>
        <td>percent</td>
        <td> {{ porcentaje | percent }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ porcentaje }} </th>
        <td>percent</td>
        <td> {{ porcentaje | percent:'2.2-2' }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ salario }} </th>
        <td>currency</td>
        <td> {{ salario | currency }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ salario }} </th>
        <td>currency:'COP'</td>
        <td> {{ salario | currency:'COP' }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ salario }} </th>
        <td>currency:'EUR':symbol</td>
        <td> {{ salario | currency:'EUR':symbol }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ salario }} </th>
        <td>currency:'EUR':symbol:'4.0-0'</td>
        <td> {{ salario | currency:'EUR':symbol:'4.0-0' }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ valor_de_promesa }} </th>
        <td>async</td>
        <td> {{ valor_de_promesa | async }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ fecha }} </th>
        <td>date</td>
        <td> {{ fecha | date }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ fecha }} </th>
        <td>date:'medium'</td>
        <td> {{ fecha | date:'medium' }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ fecha }} </th>
        <td>date:'MMMM - dd'</td>
        <td> {{ fecha | date:'MMMM - dd' }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ nombre2 }} </th>
        <td>capitalizado</td>
        <td> {{ nombre2 | capitalizado }} </td>
      </tr>
      <tr>
        <th scope="row"> {{ nombre2 }} </th>
        <td>capitalizado: false</td>
        <td> {{ nombre2 | capitalizado:false }} </td>
      </tr>
      
      <tr>
        <th scope="row"> {{ pass }} </th>
        <td>contrasena: {{ activar }} <br>
        <button (click)="activar = !activar" type="button" class="btn btn-outline-primary">Activar/Desactivar</button>
        </td>
        <td>{{ pass | contrasena:activar }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Slice</h2>
  <ul class="list-group">
    <li *ngFor="let item of arreglo | slice:5:10">{{ item }}</li>
  </ul>

  <h2>JSON</h2>
  <p>Without JSON pipe:</p>
  <pre>{{ hero }}</pre>
  <p>With JSON pipe:</p>
  <pre>{{hero | json}}</pre>


  <h3>Youtube</h3>
  <hr>
  <iframe width="560" height="315" [src]="video | domseguro:'https://www.youtube.com/embed/'" target="_parent" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>